.top-bar {
  padding-block: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: 64px;
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;

    @include on-tablet {
      gap: 32px;
    }

    &__phone {
      display: flex;
      align-items: center;
      gap: 20px;

      &__link {
        display: block;
        color: $white-color;
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;

        @include hover(color, $light-color);
      }
    }
  }

  &__logo-link {
    display: flex;
  }

  &__logo {
    height: 38px;

    @include on-tablet {
      height: 56px;
    }

    @include hover(transform, scale(1.2));
  }
}
